[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HuraultMisc"]
	path = HuraultMisc
	url = https://github.com/ghurault/huraultmisc
	shallow = true
	registered = true
[submodule "EczemaPred"]
	path = EczemaPred
	url = https://github.com/ghurault/EczemaPred
	shallow = true
	registered = false
