[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HuraultMisc"]
	path = HuraultMisc
	url = https://github.com/ghurault/huraultmisc
